In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../datasets/Health_insurance.csv')

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df['sex']=df['sex'].apply(lambda x:1 if x=='female' else 0)
df['smoker']=df['smoker'].apply(lambda x:1 if x=='yes' else 0)

In [5]:
df

      age  sex     bmi  children  smoker     region      charges
0      19    1  27.900         0       1  southwest  16884.92400
1      18    0  33.770         1       0  southeast   1725.55230
2      28    0  33.000         3       0  southeast   4449.46200
3      33    0  22.705         0       0  northwest  21984.47061
4      32    0  28.880         0       0  northwest   3866.85520
...   ...  ...     ...       ...     ...        ...          ...
1333   50    0  30.970         3       0  northwest  10600.54830
1334   18    1  31.920         0       0  northeast   2205.98080
1335   18    1  36.850         0       0  southeast   1629.83350
1336   21    1  25.800         0       0  southwest   2007.94500
1337   61    1  29.070         0       1  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
x = df[['age','bmi','children','sex','smoker']]
y = df['charges']

In [18]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x,y)

LinearRegression()

In [8]:
c

(-12181.10183923442,
 array([  257.73498767,   322.36421449,   474.41112061,   128.63985357,
        23823.39253065]))

In [9]:
test = {'age':[34,23,28],
        'bmi': [25.0,20,21],
        'children':[2,0,1], 
        'sex':['0','1','0'],
        'smoker':[0,0,1]}
test = pd.DataFrame(test)
test

   age   bmi  children sex  smoker
0   34  25.0         2   0       0
1   23  20.0         0   1       0
2   28  21.0         1   0       1

In [10]:
model.predict(test)

array([ 5589.8153449 ,   322.72702045, 26102.92997098])

In [22]:
q = [[34,25.0,2,0,0],[23,20.0,0,1,0],[28,21.0,1,0,1]]
model.predict(q)

C:\Users\Manasi\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([ 5589.8153449 ,   322.72702045, 26102.92997098])